@font-face {
  font-family: 'Ortica';
  src: url('assets/fonts/OrticaLinear-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Ortica';
  src: url('assets/fonts/OrticaLinear-Bold.otf') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: 'Ortica';
  src: url('assets/fonts/OrticaLinear-Light.otf') format('opentype');
  font-weight: lighter;
}

html, body {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: #252129;
}

#intro {
  height: 90vh;
  width: 90%;
  padding: 5vh 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "semplicitapro", sans-serif;
}
#intro-left {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#intro-left p {
  font-size: 14px;
  margin: 0;
}

#intro-right {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#intro-right h1 {
  margin: 0;
  font-size: 5rem;
  color: #b8e557;
}
#intro-right p {
  font-size: 1.5rem;
  margin: 0;
}


#intro-right {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#intro-right h1 {
  margin: 0;
  font-size: 5rem;
  color: #b8e557;
}
#intro-right p {
  font-size: 1.5rem;
  margin: 0;
}

#balls {
  width: 40%;
  position: relative;
  top: -100px;
}
#topballs{
  position: relative;
  width: 240px;
  top: 28px;
}
#bottomballs{
  position: absolute;
  right: 5%;
  width: 180px;
  top: 82.5%;

}
#rightballs{
  position:absolute;
  right: 90px;
  bottom: -60px;
  width: 30px;
}


a {
  color: #B8E558;
  text-decoration: none;
}

a:hover{
  color: #b8e558d3;
}

a:visited {
  color: #b8e558d3;
}


#logo-polimi {
  width: 150px;
  margin-bottom: 5px;
  margin-left: -4px;
}
#legenda p {
  font-size: 16px;
}
#legenda strong {
  font-size: 20px;
}
.legenda-inline {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}


#mtoggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 40px;
  background-color: #343038;
  margin: 10px 0;
  border-radius: 20px;
}
#mtoggle p {
  font-size: 16px;
  margin: 0;
  text-align: center;
  width: 100%;
}
.mtoggle-section {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.m-selected {
  background-color: white;
  border-radius: 20px;
  color: #252129;
  margin: 0 5px;
  height: calc(100% - 10px);
}


.demo-circle {
  width: 16px;
  display: inline-block;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #b8e557;
}
.demo-value {
  font-size: 16px;
  line-height: 16px;
}


#heading {
  color: white;
  width: 90%;
  margin: auto;
}
#heading h1 {
  font-family: 'Ortica', serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin: 30px 0 0 0;
  padding: 0;
}
#heading p {
  font-family: 'forma-djr-text', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  margin: 0;
  padding: 0;
}

#sketch-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
#sketch-container {
  display: block;
}

#regions-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.regions-select {
  font-family: 'forma-djr-text', sans-serif;
  font-size: 16px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 13px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 39px;
  cursor: pointer;
  color: #343038;
  margin-top: 5px;
  width: 100%;
}

.region-label {
  border: none;
  font-size: 16px;
  font-weight: 400;
  height: 39px;
  width: 100%;
  margin-top: 3px;
  border-radius: 13px;
  background-color: transparent;
  color: white;
  font-weight: 400;
  transition: 0.2s;
}
.region-label:hover {
  background-color: white;
  color: #343038;
  transition: 0.3s;
  font-weight: 500;
  cursor: pointer;
}
.region-label.selected {
  background-color: white;
  color: #343038;
  font-weight: 500;
}

#box {
  width: 175px;
  height: 39px;
  padding: 5px;
  background-color: transparent;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: transparent;
}
#box:hover {
  height: 200px;
  transition: 0.5s;
  margin-top: -161px;
  background-color: rgba(61, 61, 61, 0.851);
}

#regions-list {
  height: 150px;
  overflow-y: scroll;
  padding-right: 6px; /* Crea spazio tra il contenuto e la barra laterale */
  box-sizing: content-box;
  width: 100%;
  scrollbar-width: none; /* Imposta la larghezza della barra di scorrimento */
  scrollbar-color: transparent; /* Colore per il "thumb" e per il background */
}
#regions-list::-webkit-scrollbar {
  height: 5px;
  width: 7px;
  display: none;
}
#regions-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #807d83;
}
 #regions-list::-webkit-scrollbar-thumb:hover {
  background-color: white;
  transition: 0.2s;
  cursor: pointer;
}

#region-list:hover{
 scrollbar-color: white #807d83;
 }

.single-region{
  font-family: 'forma-djr-text', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 13px;
  cursor: pointer;
  color: rgb(255, 255, 255); 
}
.single-region:hover{
  background-color: rgba(0, 0, 0, 0.362);
}

#comparison-button {
  width: 33px;
  height: 33px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin: 0 10px;
}
#comparison-button.rotated {
  transform: rotate(45deg);
}
#comparison-button {
  transition: 0.5s ease;
}
#comparison-button img {
  width: 60%;
  height: 60%;
  display: block;
  margin: auto;
}
#comparison-dropdown {
  position: absolute;
  bottom:5px;
}

#box-2 {
  display: none;
  width: 175px;
  height: 39px;
  padding: 5px;
  background-color: transparent;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  background-color: transparent; 
  transition: all 0.7s;
}

#box-2:hover {
  height: 200px;
  transition: 0.5s;
  margin-top: -161px;
  background-color: rgba(255, 0, 0,1);
}

#heading h1 {
  font-family: 'Ortica';
  font-size: 2rem;
}


.description {
  font-size: 1em;
  text-align: right;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  max-width: 200px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.description .circle {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.description .equals {
  font-size: 1em;
  font-weight: bold;
}