@font-face {
  font-family: 'Ortica';
  src: url('assets/fonts/Semplicita-Medium.otf') format('opentype');
}

html, body {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: #252129;
}

#intro {
  height: 90vh;
  width: 90%;
  padding: 5vh 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "semplicitapro", sans-serif;
}

#intro-left {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#intro-left p {
  font-size: 16px;
  margin: 0;
}

#intro-right {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#intro-right h1 {
  margin: 0;
  font-size: 5rem;
  color: #b8e557;
}
#intro-right p {
  font-size: 1.5rem;
  margin: 0;
}

#intro-right {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#intro-right h1 {
  margin: 0;
  font-size: 4rem;
  color: #b8e557;
}
#intro-right p {
  font-size: 1.5rem;
  margin: 0;
}

#balls {
  width: 40%;
  position: relative;
  top: -100px;
}
#topballs{
  position: relative;
  width: 202px;
  top: 15px;
}
#bottomballs{
  position: absolute;
  right: 10%;
  width: 110px;
  top: 74%;
  rotate: 90deg;

}
#rightballs{
  position:absolute;
  right: 90px;
  bottom: -60px;
  width: 30px;
}


a {
  color: #ffffff;
  text-decoration: underline;
}

a:hover{
  color: #b8e558d3;
}

a:visited {
  color: #ffffff;
}

#legenda p {
  font-size: 16px;
}
#legenda strong {
  font-size: 20px;
}
.legenda-inline {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}


#mtoggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 40px;
  margin: 10px 0;
  /* Rectangle 25 */
  background: linear-gradient(170.5deg, rgba(255, 255, 255, 0.1) 16.96%, rgba(255, 255, 255, 0.02) 87.84%);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
  box-shadow: 2px 2px 20px 0px rgba(255, 255, 255, 0.156) inset;
  border: solid, 1px, rgb(79, 79, 79);
}
#mtoggle p {
  font-size: 16px;
  margin: 0;
  text-align: center;
  width: 100%;
}
.mtoggle-section {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.m-selected {
  background-color: white;
  border-radius: 20px;
  color: #252129;
  margin: 0 5px;
  height: calc(100% - 10px);
background: linear-gradient(170.5deg, rgb(255, 255, 255) 16.96%, rgba(255, 255, 255, 0.276) 87.84%);

}


.demo-circle {
  width: 16px;
  display: inline-block;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #b8e557;
}
.demo-value {
  font-size: 16px;
  line-height: 16px;
}


#heading {
  color: white;
  width: 90%;
  margin: auto;
}
#heading h1 {
  font-family: 'Ortica', serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin: 30px 0 0 0;
  padding: 0;
}
#heading p {
  font-family: 'forma-djr-text', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  margin: 0;
  padding: 0;
}

#sketch-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20vw;
}
#sketch-container {
  display: block;
}

#regions-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.regions-select {
  font-family: 'forma-djr-text', sans-serif;
  font-size: 16px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 13px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 39px;
  cursor: pointer;
  color: #343038;
  margin-top: 5px;
  width: 100%;
}

.region-label, .comparison-label {
  border: none;
  font-size: 16px;
  font-weight: 400;
  height: 39px;
  width: 100%;
  margin-top: 3px;
  border-radius: 13px;
  background-color: transparent;
  color: white;
  font-weight: 400;
  transition: 0.2s;
}
.region-label:hover, .comparison-label:hover {
  background-color: white;
  color: #343038;
  transition: 0.3s;
  font-weight: 500;
  cursor: pointer;
}
.region-label.selected, .comparison-label.selected {
  background-color: white;
  color: #343038;
  font-weight: 500;
}

#box, #box-2 {
  width: 175px;
  height: 39px;
  padding: 5px;
  background-color: transparent;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  transition: height 0.5s, margin-top 0.5s, background-color 0.5s;
}

#box:hover, #box-2:hover {
  height: 200px;
  margin-top: -161px;
  background-color: rgba(61, 61, 61, 0.851);
}

/* Ensure #box-2 is hidden by default */
#box-2 {
  display: none;
}

/* Scrollbar consistency for both dropdowns */
#regions-list, #regions-list-2 {
  height: 150px;
  overflow-y: scroll;
  padding-right: 6px;
  box-sizing: content-box;
  width: 100%;
  scrollbar-width: none; /* Hide scrollbar */
  scrollbar-color: transparent; /* Transparent scrollbar */
}

#regions-list::-webkit-scrollbar {
  width: 7px;
  display: none;
}

#regions-list:hover {
  scrollbar-color: white #807d83;
}

#regions-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #807d83;
}

#regions-list::-webkit-scrollbar-thumb:hover {
  background-color: white;
  transition: 0.2s;
  cursor: pointer;
}

/* Dropdown item styling */
.single-region {
  font-family: 'forma-djr-text', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 13px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.single-region:hover {
  background-color: rgba(0, 0, 0, 0.362);
}

/* Consistency for the "comparison-button" */
#comparison-button {
  width: 33px;
  height: 33px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin: 0 10px;
  transition: transform 0.5s ease;
}

#comparison-button.rotated {
  transform: rotate(45deg);
}

#comparison-button img {
  width: 60%;
  height: 60%;
  display: block;
  margin: auto;
}

/* Show #box-2 when active */
#box-2.active {
  display: flex;
}
#heading h1 {
  font-family: 'Ortica';
  font-size: 2rem;
}


.description {
  font-size: 1em;
  text-align: right;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  max-width: 200px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.description .circle {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}
.description .equals {
  font-size: 1em;
  font-weight: bold;
}
#fixed-toggle{
  position: fixed;
  bottom: 5%;
}

#testo-sopra-toggle{
  width: 43%; 
  position: relative; 
  bottom: 17%;
}


#logo-polimi {
  height: 5vh; 
  position: absolute;
  top: 3vh;
  left: 3vw;
}

#colophon1{
  position: absolute;
  top: 3vh;
  left: 21vw;
  font-family: "semplicitapro", sans-serif;
  font-size: 12px;
}

#colophon2{
  position: absolute;
  top: 3vh;
  left: 50vw;
  font-family: "semplicitapro", sans-serif;
  font-size: 12px;
}

#cerchio-percentuale{
  position: relative;
  left: -23.6px;
}

#vetro1{
  width: 50vw;
  height: 50vh;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  padding-bottom: 3vw;
  
  /* Rectangle 25 */
background: linear-gradient(170.5deg, rgba(255, 255, 255, 0.1) 16.96%, rgba(255, 255, 255, 0.02) 87.84%);
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 20px;
box-shadow: 2px 2px 20px 0px rgba(255, 255, 255, 0.156) inset;

border: solid, 1px, rgb(79, 79, 79);
font-family: "semplicitapro", sans-serif;
justify-content: space-between;
display: flex;
flex-direction: column;

}

#cerchio1{
  position:absolute;
  top: 55vh;
  left:11vw;
  border-radius: 50%;
  background-color: #dff304;
  width: 12vw;
  height: 12vw;
  z-index: -1000;
  animation: animation 4s infinite;
  animation: float 3s ease-in-out infinite, animate 7s;
  animation-delay: 1.2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

#cerchio2{
  position:absolute;
  top: 64vh;
  left:72vw;
  border-radius: 50%;
  background-color: #A39CCD;
  width: 18vw;
  height: 18vw;
  z-index: -1000;
  animation: animation 5s infinite;
  animation: float 4s ease-in-out infinite, animate 7s;
  animation-delay: 1.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

#cerchio3{
  position:absolute;
  top:22vh;
  left:60vw;
  border-radius: 50%;
  background-color: #F87A01;
  width: 8vw;
  height: 8vw;
  z-index: -1000;
  animation: animation 3s infinite;
  animation: float 5s ease-in-out infinite, animate 7s;
  animation-delay: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;

}


#cerchio4{
  position:absolute;
  top:173vh;
  left:34vw;
  border-radius: 50%;
  background-color: #FF467B;
  width: 4vw;
  height: 4vw;
  z-index: -1000;
  animation: animation 3s infinite;
  animation: float 6s ease-in-out infinite;
}


#cerchio5{
  position:absolute;
  top:109vh;
  left: 40vw;
  border-radius: 50%;
  background-color: #4F67AF ;
  width: 13vw;
  height: 13vw;
  z-index: -1000;
  animation: animation 3s infinite;
  animation: float 7.4s ease-in-out infinite;

}


#cerchio6{
  position:absolute;
  top:154vh;
  left:67vw;
  border-radius: 50%;
  background-color:#FFD45A;
  width: 10vw;
  height: 10vw;
  z-index: -1000;
  animation: animation 3s infinite;
  animation: float 6s ease-in-out infinite;
  animation-fill-mode: forwards;
}

#cerchio7{
  position:absolute;
  top:135vh;
  left:8vw;
  border-radius: 50%;
  background-color:#2EA398;
  width: 6vw;
  height: 6vw;
  z-index: -1000;
  animation: animation 3s infinite;
  animation: float 4s ease-in-out infinite;
  animation-fill-mode: forwards;


}


#cerchio8{
  position:absolute;
  top:120vh;
  left:80vw;
  border-radius: 50%;
  background-color:#036747;
  width: 3vw;
  height: 3vw;
  z-index: -1000;
  animation: animation 3s infinite;
  animation: float 3s ease-in-out infinite;

}



#homepage{
  height: 100%;
  width: 100%;
  padding-top: 25vh;
  padding-bottom: 30vh;
  display: flex;
  justify-content: center;

}

.testobasso {
  font-size: 2vh;
}

#titolo
{
  font-size: 4vW;
}

#simbolotoggle{
  width: 100%;
  padding-top: 30vh;
  padding-bottom: 30vh;
}

#vetro2{
  position: relative;
  top: 14vh;
  margin: auto;
  width: 35vw;
  height: 30vh;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  padding-bottom: 3vw;
  padding-top: 3vw;
  
  /* Rectangle 25 */
background: linear-gradient(170.5deg, rgba(255, 255, 255, 0.1) 16.96%, rgba(255, 255, 255, 0.02) 87.84%);
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 20px;
box-shadow: 2px 2px 20px 0px rgba(255, 255, 255, 0.156) inset;

border: solid, 1px, rgb(79, 79, 79);
font-family: "semplicitapro", sans-serif;
font-size: 2vh;
display: flex;
flex-direction: column;
}

#togglepage{
  margin-bottom: 10vw;
}

#vetro3{
  position: sticky;
  width: 200px;
  height: auto;
  top: 0.5vh;
  margin: auto;
  padding-top: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
  font-family: "semplicitapro", sans-serif;
  font-size: 2vh;
  font-weight: 500;
}

#euro{
  position:absolute;
  width: 20vw;
  left: 21vw;
  top: 130vh;
}

@keyframes animation{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

@keyframes float{
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-20px);
  }
  }

  
  .animated {
    opacity: 0;
    transform: scale(0);
    transition: all 7s ease;
    transition-delay: 0s;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color:#252129;

}

.animated.show {
    opacity: 1;
    width: 100%;
    transform: scale(0);
    transition-delay: 1.5s;

}

 
.animated1 {
  opacity: 0;
    transform: scale(0);
    transition: all 12s ease;
    transition-delay: 1.3s;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color:#252129;
}

.animated1 p{
  font-size: 7vw;
  rotate: -15deg;
  font-weight: 600;
  font-family: "semplicitapro", sans-serif;
}

.animated1.show {
  opacity: 1;
    width: 100%;
    transform: scale(0);
    transition-delay: 0s;
} 

.animated2 {
  opacity: 0;
    transform: scale(0);
    transition: all 12s ease;
    transition-delay: 0s;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color:#252129;
}

.animated p{
  font-size: 2vw;
  rotate: deg;
  font-weight: 600;
  font-family: "semplicitapro", sans-serif;
}

.animated2 p{
  font-size: 5vw;
  rotate: 20deg;
  font-weight: 600;
  font-family: "semplicitapro", sans-serif;
}

.animated3 p{
  font-size: 3.2vw;
  rotate: 30deg;
  font-weight: 600;
  font-family: "semplicitapro", sans-serif;
}

.animated4 p{
  font-size: 1.5vw;
  rotate: -30deg;
  font-weight: 600;
  font-family: "semplicitapro", sans-serif;
}

.animated2.show {
  opacity: 1;
    width: 100%;
    transform: scale(0);
    transition-delay: 0.5s;
}

.animated3 {
  opacity: 0;
    transform: scale(0);
    transition: all 12s ease;
    transition-delay: 0s;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color:#252129;
}

.animated3.show {
  opacity: 1;
    width: 100%;
    transition-delay: 1.2s;
    transform: scale(0);
}

.animated4 {
  opacity: 0;
    transform: scale(0);
    transition: all 9s ease;
    transition-delay: 0s;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color:#252129;
}

.animated4.show {
  opacity: 1;
    width: 100%;
    transform: scale(0);
    transition-delay: 1s;
}


@keyframes animate{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  }


